snippet cir "Circle Definition" b
circle(r=${1:radius});
endsnippet

snippet cu "Cube" b
cube(size = [${1:length}, ${2:width}, ${3:height}]);
endsnippet

snippet sph "Sphere" b
sphere(r = ${1:radius});
endsnippet

snippet cy "Cylinder" b
cylinder(h = ${1:height}, d = ${2:diameter});
endsnippet

snippet t "Translate" b
translate(${1:x}, ${2:y}, ${3:z});
endsnippet

snippet mo "Module" b
module ${1:module_name}(${2:args}) {\n}
endsnippet
